.cookie {
    cursor: pointer;
    margin-top: 30px;
}

.clicksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    background-color: var(--orange-background);
    border-radius: 10px;
}

.clicksContainer > h2 {
    text-align: center;
}
