.container {
    padding-bottom: 16px;
    display: inline-block;
    align-content: start;
    text-align: center;
    width: 100vw;
}

.link {
    color: #fff;
    text-align: center;
    padding: 4px 16px;
    margin-left: 2px;
    border-radius: 10px;
    margin-right: 2px;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 18px;
    display: block;

    /* On mobile devices, the hover effect should not be applied since it's left on hover after clicking */
    @media (hover: hover) {
        &:hover {
            background-color: yellow;
            color: black;
        }
    }

    &:active {
        background-color: yellow;
        color: black;
    }

    @media (min-width: 768px) {
        font-size: 19px;
        display: inline;
        padding: 8px 16px;
    }
}
