.table:hover {
    fill: #888;
    cursor: default;
}
.room:hover {
    cursor: pointer;
}
.room:hover path {
    fill: #ddd;
}
.room:hover text {
    text-decoration: underline;
}
.sofa:hover {
    cursor: default;
}
.sofa:hover rect {
    fill: #b88;
}
.sofa:hover text {
    fill: #eee;
}
.popupTitle {
    font-weight: bold;
    font-size: 1.25em;
}
.popupText {
    line-height: 22px;
    hyphens: auto;
}
.popupButton {
    padding: 2px 8px;
    margin: 8px 0px;
    border-radius: 5px;
    outline: 0;
    border: none;
    background-color: #0ea5e9;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
