.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container > p {
    max-width: 500px;
    line-height: 1.4em;
    text-align: center;
}

.personList {
    margin-top: 6px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    @media (min-width: 1350px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* If the grid has only one item, make it span both columns */
.personList:only-child {
    grid-column: span 2;
}

/* If the last row has a single item (odd number of items), center it */
.personList > .personItem:nth-last-child(1):nth-child(odd) {
    grid-column: span 1;

    @media (min-width: 1350px) {
        grid-column: span 2;
    }
}

.personItem > p {
    line-height: 1em;
}

.nameH4 {
    line-height: 1.2rem;
    margin-bottom: 5px;
}
