.container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background-color: var(--orange-background);
    border-radius: 30px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary-text);
    cursor: pointer;
}
