name: Push commit

on:
    push:

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./frontend
        steps:
            - name: Git checkout
              uses: actions/checkout@v3
              with:
                  fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                  cache-dependency-path: ./frontend/package-lock.json
                  node-version: 22.5
                  cache: 'npm'

            - name: Installing dependencies
              run: npm ci

            - name: Typecheck
              if: always()
              run: npm run typecheck

            - name: Lint
              if: always()
              run: npm run lint
